{
"token":"cf9838bebd318ae382f7dd56dae21e45",
"note":null,
"attributes":{
  "paginate_ntt4":"default",
  "limit_ntt4":"12",
  "use_bar_lmntt4":"true",
  "cat_dk_items_per_row":"3"
},
"original_total_price":12000,
"total_price":12000,
"total_discount":0,
"total_weight":0.0,
"item_count":4,
"items":[
  {
    "id":35335215808669,
    "properties":{
      
    },
    "quantity":3,
    "variant_id":35335215808669,
    "key":"35335215808669:4abad0238e327859388567bc05c744a0",
    "title":"Blue Cotton Leggings - Black \/ L",
    "price":3000,
    "original_price":3000,
    "discounted_price":3000,
    "line_price":9000,
    "original_line_price":9000,
    "total_discount":0,
    "discounts":[
      
    ],
    "sku":"M-04",
    "grams":0,
    "vendor":"Gecko",
    "taxable":true,
    "product_id":5427723010205,
    "product_has_only_default_variant":false,
    "gift_card":false,
    "final_price":3000,
    "final_line_price":9000,
    "url":"\/products\/blue-cotton-leggings?variant=35335215808669",
    "featured_image":{
      "aspect_ratio":0.681,
      "alt":"Blue Cotton Leggings",
      "height":1101,
      "url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0437\/1913\/1293\/products\/p-46_1a4bbde3-f6bf-47e7-a830-ff8b7616c644.jpg?v=1595905285",
      "width":750
    },
    "image":"https:\/\/cdn.shopify.com\/s\/files\/1\/0437\/1913\/1293\/products\/p-46_1a4bbde3-f6bf-47e7-a830-ff8b7616c644.jpg?v=1595905285",
    "handle":"blue-cotton-leggings",
    "requires_shipping":true,
    "product_type":"",
    "product_title":"Blue Cotton Leggings",
    "product_description":"Design inspiration lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nRain \u0026 WaterResistant\n\n\n\nUV ResistantCoatings\n\n\n\nCorrosion Resistanceto Sea water\n\n\n\n\n\n\n\nLead-freePowdercoat Finish\n\n\n\nResistant toSpills\n\n\n\nRecyclableAluminium Frame\n\n\n",
    "variant_title":"Black \/ L",
    "variant_options":[
      "Black",
      "L"
    ],
    "options_with_values":[
      {
        "name":"Color",
        "value":"Black"
      },
      {
        "name":"Size",
        "value":"L"
      }
    ],
    "line_level_discount_allocations":[
      
    ],
    "line_level_total_discount":0
  },
  {
    "id":35335217807517,
    "properties":{
      
    },
    "quantity":1,
    "variant_id":35335217807517,
    "key":"35335217807517:3aa32a6057df32c9d7054b517871660d",
    "title":"Ribbed Bodycon Dress",
    "price":3000,
    "original_price":3000,
    "discounted_price":3000,
    "line_price":3000,
    "original_line_price":3000,
    "total_discount":0,
    "discounts":[
      
    ],
    "sku":"P-01",
    "grams":0,
    "vendor":"Gecko",
    "taxable":true,
    "product_id":5427723305117,
    "product_has_only_default_variant":true,
    "gift_card":false,
    "final_price":3000,
    "final_line_price":3000,
    "url":"\/products\/ribbed-bodycon-dress?variant=35335217807517",
    "featured_image":{
      "aspect_ratio":0.681,
      "alt":"Ribbed Bodycon Dress",
      "height":1101,
      "url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0437\/1913\/1293\/products\/g-01.jpg?v=1595905296",
      "width":750
    },
    "image":"https:\/\/cdn.shopify.com\/s\/files\/1\/0437\/1913\/1293\/products\/g-01.jpg?v=1595905296",
    "handle":"ribbed-bodycon-dress",
    "requires_shipping":true,
    "product_type":"",
    "product_title":"Ribbed Bodycon Dress",
    "product_description":"Design inspiration lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci.\n\n\n",
    "variant_title":null,
    "variant_options":[
      "Default Title"
    ],
    "options_with_values":[
      {
        "name":"Title",
        "value":"Default Title"
      }
    ],
    "line_level_discount_allocations":[
      
    ],
    "line_level_total_discount":0
  }
],
"requires_shipping":true,
"currency":"USD",
"items_subtotal_price":12000,
"cart_level_discount_applications":[
  
]
}